<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="OracleIdentityConnection" connectionString="data source=localhost/ExerciseDb;user id=Admin;password=1313;unicode=True" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
</configuration>